<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<style>

    .search-result {
        display: none;
        position: absolute;
        height: auto;
    }

    .no-product-found {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }

    #searchResultsContainer {
        background-color: rgb(255, 255, 255); 
        position: absolute;
        z-index: 1;
        width: 555px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
       
    }

    .product-container {
        width: 200px;
        margin: 10px;
        text-align: left;
    }

    .product-container img {
        margin-left: -2px;
        max-width: 20%;
        height: auto;
        transform: rotate(0deg);
        transition: transform 0.5s ease; 
       
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
    }

    .product-info p {
        margin: 2px 0;
        margin-left: 40px;
        font-size: 10px;
        margin-top: 5px;
        color: black;
    }

  
    .rotate-90 {
        transform: rotate(90deg);
    }

    .rotate-180 {
        transform: rotate(180deg);
    }

    .rotate-270 {
        transform: rotate(270deg);
    }
</style>
<body>
    <!-- Page Preloder -->
  
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <% if(userID){%>
                    <a href="/logout">Log out</a>
                <%} else { %>
                    <a href="login">Log in</a>
                <%}%>
                
            </div>
            <div class="offcanvas__top__hover">
                <%if(userID){%>
                    <a href="/profile">
                        <span>Profile <i class="arrow_carrot"></i></span>
                    </a>
                <%} else {%>
                    <a href="login"></a>
                <% } %> 
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/public/img/icon/search.png" alt=""></a>
            <a href="/wishlist"><img src="/public/img/icon/heart.png" alt=""></a>
            <a href="/cart"><img src="/public/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price"></div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <% if(userID){%>
                                    <a href="/logout">Log out</a>
                                <%} else { %>
                                    <a href="login">Log in</a>
                                <%}%>
                               
                            </div>
                            <div class="header__top__hover">
                                <%if(userID){%>
                                    <a href="/profile">
                                        <span>Profile <i class="arrow_carrot"></i></span>
                                    </a>
                                <%} else {%>
                                    <a href="login"></a>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
               
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/public/adminassets/imgs/theme/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   
                    <div class="search-style-2">
                           
                        <input type="text" id="input" style="width: 100%;margin-top: 5px;" placeholder="Search" onkeyup="SearchProduct()">
                        
                       <div class="search-result">

                           <div id="searchResultsContainer">

                           </div>

                       </div> 

                       <h5 class="no-product-found">No products found</h5>
                      
                           
                    </div>
                    <nav class="header__menu mobile-menu">
                        
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class=""><a href="/shop">Shop</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                    
                </div>
             
                <div class="col-lg-3 col-md-3">
                
                    <div class="header__nav__option"> 
                        
                        <a href="/wishlist"><img src="/public/img/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="/public/img/icon/cart.png" alt=""> <span></span></a>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>